################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Perfectial.Business.Utils/bin/Debug
/Perfectial.Business.Utils/obj/Debug
/Perfectial.Business.Services.Interfaces/bin/Debug
/Perfectial.Business.Services/bin/Debug
/Perfectial.Business.Services/obj/Debug
/Perfectial.Business.Domain/bin/Debug
/Perfectial.Business.Domain/obj/Debug
/Perfectial.Business.Services.Interfaces/obj/Debug
/Perfectial.DataAccess.EntityFramework/bin/Debug
/Perfectial.DataAccess.EntityFramework/obj/Debug
/Perfectial.DataAccess.Implementation/bin/Debug
/Perfectial.DataAccess.Implementation/obj/Debug
/Perfectial.DataAccess.Interfaces/bin/Debug
/Perfectial.DataAccess.Interfaces/obj/Debug
/Perfectial.Domain.Model/bin/Debug
/Perfectial.Domain.Model/obj/Debug
/Perfectial.Infrastructure/bin/Debug
/Perfectial.Infrastructure/obj/Debug
/Perfectial.UnitTests/bin/Debug
/Perfectial.UnitTests/obj/Debug
/Perfectial.Web/bin
/Perfectial.Web/obj/Debug
*.user
*.Cache
/.vs
/Perfectial.Application.Model/bin/Debug
/Perfectial.Application.Model/obj/Debug
/Perfectial.Application.Services/bin/Debug
/Perfectial.Application.Services/obj/Debug
/Perfectial.Application.Services.Base/bin/Debug
/Perfectial.Application.Services.Base/obj/Debug
/Perfectial.Domain.Model/bin
/Perfectial.Infrastructure.Identity/bin/Debug
/Perfectial.Infrastructure.Identity/obj/Debug
/Perfectial.Infrastructure.Identity.Base/obj/Debug
/Perfectial.Infrastructure.Identity.Model/obj/Debug
/Perfectial.Infrastructure.Identity.Owin/obj/Debug
/Perfectial.Infrastructure.Persistence/bin/Debug
/Perfectial.Infrastructure.Persistence/obj/Debug
/Perfectial.Infrastructure.Persistence.Base/bin/Debug
/Perfectial.Infrastructure.Persistence.Base/obj/Debug
/Perfectial.Infrastructure.Persistence.EntityFramework/obj/Debug
/Perfectial.Infrastructure.Persistence.EntityFramework/bin/Debug
/Perfectial.Presentation.Web/bin/roslyn
/Perfectial.Presentation.Web/bin
/Perfectial.Presentation.Web/obj/Debug
/Perfectial.UnitTests.Application/bin/Debug
/Perfectial.UnitTests.Application/obj/Debug
/Perfectial.UnitTests.Domain/bin/Debug
/Perfectial.UnitTests.Domain/obj/Debug
/Perfectial.UnitTests.Persistence/bin/Debug
/Perfectial.UnitTests.Persistence/obj/Debug
