@model Perfectial.Presentation.Web.ViewModels.ForgotPasswordConfirmationViewModel

<hgroup class="title">
    <h1>@Model.PageTitle</h1>
</hgroup>
<div>
    <p>
        Please check your e-mail to reset your password.
    </p>
</div>